<div class="container">
  <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let course of checkoutCourses">
          <div>
              <img [src]="course.courseImageUrl" [alt]="course.courseName" width="150" height="100">
          </div>
          <div style="padding: 10px">
              <h6 class=" my-0 ">{{course.courseName}}</h6>
              <p>Course Seller : {{course.courseSeller}}</p>
          </div>
          <span class="text-muted ">₹ {{course.coursePrice}}</span>
      </li>
      <hr>
      <li class="list-group-item d-flex justify-content-between ">
          <span>Total (INR)</span>
          <strong>₹ {{totalPrice}}</strong>
      </li>

  </ul>
  <div class="float-right">
      <a class="btn btn-default " [routerLink]="['/checkouts', {outlets: {'checkOutlet': ['shipping-details']}}]" routerLinkActive="active">Next</a>
  </div>

</div>
